<div ng-controller="yexirActivaCtrl">
    <div class="block col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="block col-sm-8 col-sm-offset-2 col-xs-12">
        <form ng-submit="getUsers()" class="form-big sans-2">
          <div class="form-group">
            <input type="text" placeholder="Número de resultados" ng-model="filters.limit" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" placeholder="Página" ng-model="filters.skip" class="form-control">
          </div>
          <div class="form-group">
            <select ng-model="filters.sort" class="form-control">
              <option value="asc">Ascendente</option>
              <option value="desc">Descendente</option>
            </select>
          </div>
          <button type="submit" class="btn-lg btn-block btn btn-main"><span ng-hide="checking">Busca usuarios</span></button>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="" ng-checked="false" ng-model="searchInvites">Busca invitaciones
            </label>
          </div>
        </form>
        <div ng-show="searchInvites">
          <p>Invitaciones</p>
          <div ng-repeat="n in users track by $index">{{$index}} - {{n.email}} - {{n.phone}} <a href="" ng-click="activaInvite(n.email,n.phone)" class="btn btn-main">Activa</a></div>
        </div>
        <div ng-hide="searchInvites">
          <p>Usuarios</p>
          <div ng-repeat="n in users track by $index">{{$index}} - {{n.email}} - {{urlbase}}/user/{{n.hash}} - {{n.set_payment}} - {{n.phone}}</div>
        </div>
      </div>
    </div>
  </div>
</div>