
<section class="header header-7">
	<div class="hero-slider">
		<ul class="slides">
			<li style="padding: 80px 0 80px;">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="images/hero10.jpg">
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3 class="text-white">Panel de control</h3>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

<div ng-controller="yexirInvitaCtrl">


	<section class="header header-3">
			
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h3>Añade en secreto a un usuario</h3>
					<h5></h5>
				</div>
			</div>
		
			<div class="row">
				<div class="col-sm-12 text-center">
					<form class="contained-form form-email" ng-submit="createUser()" method="post">
						<input type="text" ng-model="sendUser.phone" class="signup-name-field validate-required" placeholder="Teléfono">
						<input type="text" ng-model="sendUser.email" class="validate-required validate-email signup-email-field" placeholder="Email">
						<input type="submit" value="Crea el usuario »">
					</form>
					<div ng-show="step2" ng-cloak>
					  <p>El usuario ya existe.</p>
					</div>
					<div ng-show="step3" ng-cloak>
					  <p>¡Hecho!</p>
					</div>
				</div>
			</div>
		
			
		</div>

	</section>
</div>

<div ng-controller="yexirActivaCtrl">
	<section class="pricing pricing-4">
		<div class="container">
			

			<div class="row">
				<div class="col-sm-12 text-center">
					<h3>Busca y activa usuarios</h3>
				</div>
				<div class="col-sm-12 text-center">
					<form class="contained-form form-email" ng-submit="getUsers()">
						<input type="text" ng-model="filters.limit" class="signup-name-field validate-required" placeholder="Número de resultados">
						<input type="text" placeholder="Página" ng-model="filters.skip" class="validate-required validate-email signup-email-field">
						  <select ng-model="filters.sort" class="form-control" style="margin-bottom:10px;margin-top:10px;">
						    <option value="asc">Ascendente</option>
						    <option value="desc">Descendente</option>
						  </select>
						  <select ng-model="searchInvites" class="form-control" ng-options="(item?'Invitaciones':'Usuarios') for item in [true, false]" style="margin-bottom:10px;margin-top:10px;">
						  </select>
						  <input type="submit" value="Busca en Yexir »">
					</form>
				</div>
			</div>

			<div class="row" ng-hide="searchInvites">
				<div class="col-sm-12 text-center">
					<h3>Usuarios</h3>
				</div>
				<div class="col-sm-4 text-center" ng-repeat="n in users track by $index" style="margin-bottom:23px;">
					<div class="pricing-option">
						<h6>ID #{{$index}}</h6>
						<!-- <div class="price-container">
							<span class="dollar">$</span>
							<span class="price">99</span>
							<span class="terms">/mo</span>
						</div> -->
						<h5>{{n.email}}</h5>
						<ul>
							<li>T. {{n.phone}}</li>
							<li>Ha pagado: {{n.set_payment}}</li>
						</ul>
						<a href="{{ urlbase + '/user/' + n.hash}}" class="btn btn-filled" ng-click="activaInvite(n.email)">Enlace de pago</a>	
						<!-- <a href="{{'http://yexir.com/user/' + n.hash}}" class="btn btn-filled" ng-click="activaInvite(n.email)">Enlace de pago</a>	 -->
					</div>
				</div>
			</div>

			<div class="row" ng-show="searchInvites">
				<div class="col-sm-12 text-center">
					<h3>Invitaciones</h3>
				</div>
				<div class="col-sm-4 text-center" ng-repeat="n in users track by $index" style="margin-bottom:23px;">
					<div class="pricing-option">
						<h6>ID #{{$index}}</h6>
						<!-- <div class="price-container">
							<span class="dollar">$</span>
							<span class="price">99</span>
							<span class="terms">/mo</span>
						</div> -->
						<h5>{{n.email}}</h5>
						<ul>
							<li>T. {{n.phone}}</li>
							<li>Ranking: {{n.ranking}}</li>
						</ul>
						<a href="#" class="btn btn-filled" ng-click="activaInvite(n.email)">Actívalo</a>	
					</div>
				</div>
			</div>

		</div>
	</section>
</div>
