
<section class="header header-7">
	<div class="hero-slider">
		<ul class="slides">
			<li style="padding: 80px 0 80px;">
				<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="images/hero10.jpg">
				</div>

				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<h3 class="text-white">Panel de control</h3>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</section>

<div>


	<section class="header header-3">
			
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h3>¿En qué puedo ayudarte?</h3>
					<h5></h5>
				</div>
			</div>
		
			<div class="row">
				<div class="col-sm-12 text-center">
					<form class="contained-form form-email" action="/lsendA" method="post">
						<input type="text" name="email" class="signup-name-field validate-required" placeholder="Email">
						<input type="password" name="password" class="validate-required validate-email signup-email-field" placeholder="Password">
						<input type="submit" value="Ok »">
					</form>
					
				</div>
			</div>
		
			
		</div>

	</section>
</div>

