<div class="page home">
      <%- partial('sendMessage') %>
</div>


<div class="users">
      <%- partial('users') %>
</div>

<div class="registro">
      <%- partial('register') %>
</div>

<div class="login">
      <%- partial('login') %>
</div>