<!-- <div ng-controller="sendChatCtrl"> -->

<!--   <div class="row">
    <div class="alert alert-success {{chat.me}}" role="alert" ng-repeat="chat in chats">
      {{chat.message}}
      <span class="close">
        {{chat.author}}
      </span>
    </div>
  </div>


  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <form class="navbar-form navbar-left" ng-submit="sendChat()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Tu mensaje" ng-model="chat.message">
        </div>
        <button type="submit" class="btn btn-default">Enviar</button>
      </form>
      <div class="nav navbar-nav navbar-right">
        <button class="btn btn-default" ng-click="joinRoom()">Join room</button>
        <button class="btn btn-default" ng-click="writeRoom()">Write room</button>
      </div>
    </div>
  </nav> -->

<!-- </div> -->
