<div ng-controller="yexirAccessCtrl">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    // This identifies your website in the createToken call below
    // Stripe.setPublishableKey('pk_test_9OI7SmqaptSdxoVCN3eG88kD');
    // // Stripe.setPublishableKey('pk_live_BCuM5qw5Np0zkxJaA9yKAeNp');
    // ...
  </script>
  <script type="text/javascript">
  jQuery(function($) {
    $('#payment-form').submit(function(event) {
      var $form = $(this);

      // Disable the submit button to prevent repeated clicks
      $form.find('button').prop('disabled', true);

      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from submitting with the default action
      return false;
    });
  });
  function stripeResponseHandler(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
      // Show the errors on the form
      $form.find('.payment-errors').text(response.error.message);
      $form.find('button').prop('disabled', false);
    } else {
      // response contains id and card, which contains additional card details
      var token = response.id;
      // Insert the token into the form so it gets submitted to the server
      $form.append($('<input type="hidden" name="stripeToken" />').val(token));
      // and submit
      $form.get(0).submit();
    }
  };
  </script>
  <div ng-init ="segmentF('<%= email %>','<%= segmentId %>')"></div>

  <section class="header header-7">
    <div class="hero-slider">
      <ul class="slides">
        <li style="padding: 80px 0 80px;">
          <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="/images/hero10.jpg">
          </div>

          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">
                <h3 class="text-white">Datos de pago</h3>
                <br />
                <h5 class="text-white">Para poder usar Yexir necesitamos los datos de tu tarjeta de crédito. <br />Jamás te cobraremos sin tu consentimiento explícito.</h5>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="contact contact-3" style="background-color:#f6f8fa;padding-top: 0;">
    <div class="container">
      
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
          <form class="form-email" action="{{ '/user/' + hashurl }}" method="POST" id="payment-form">
            <h2><span class="payment-errors"></span></h2>
            <p>Número de tarjeta</p>
            <input type="text" size="20" data-stripe="number" placeholder="XX-XXXX-XXX-XX" style="width:100%;">
            <p>Código de seguridad</p>
            <input type="text" size="4" data-stripe="cvc" placeholder="XXX" style="width:100%;">
            <p>Mes y año de caducidad</p>
            <input type="text" size="2" data-stripe="exp-month" placeholder="MM" />
            <input type="text" size="4" data-stripe="exp-year" placeholder="AAAA" />
            <input type="submit" value="Guarda tus datos »" style="display:block;margin:0 auto;">
            <p class="sub">
              *Al hacer click en este botón aceptas nuestras condiciones y política de uso. <a href="/terminos-yexir.pdf" target="_blank"> Puedes leerlas aquí</a>.
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
  