<div ng-controller="listUsersCtrl">

  <table class="table">
    <thead>
      <tr>
        <th>
          Nickname
        </th>
        <th>
          #
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="chat-select" ng-repeat="userz in users">
        <td>
          {{userz.id}} / {{userz.nickname}}
        </td>
        <td>
          <button class="btn btn-default" ng-click="joinRoom(userz.id,$event,userz.nickname)">
            Entrar
          </button>
          <button class="btn btn-default hide" ng-click="hiRoom(userz.nickname)">
            Di hola
          </button>
        </td>
      </tr>
    </tbody>
  </table>
	
  <div class="chat-ui hide">
    <div class="row">
      <!-- ALL CHATS -->
      <div class="alert alert-success {{chat.me}}" role="alert" ng-repeat="chatz in chatList">
        {{chatz.message}}
        <span class="close">
          {{chatz.user_id}}
        </span>
      </div>
      <!-- END ALL CHATS -->
      <div class="alert alert-success {{chat.me}}" role="alert" ng-repeat="chat in chats">
        {{chat.message}}
        <span class="close">
          {{chat.author}} -> {{chat.recipient}}
        </span>
      </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <form class="navbar-form navbar-left" ng-submit="sendChat()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Tu mensaje" ng-model="roomMessage.message">
          </div>
          <button type="submit" class="btn btn-default">Enviar</button>
        </form>
  <!--       <div class="nav navbar-nav navbar-right">
          <button class="btn btn-default" ng-click="joinRoom()">Join room</button>
          <button class="btn btn-default" ng-click="writeRoom()">Write room</button>
        </div> -->
      </div>
    </nav>
  </div>

</div>


